{% include 'layouts/navbar.html' %}

{% block content %}
<h1> Welcome Home </h1>
{% endblock %}

<div>
    {% for producto in productos %}
    <div>
        <a href="{% url 'producto' usuario_id producto.producto_id %}">
            <h2>{{producto.nombre}}</h2>
        </a>
        <p>Precio: {{producto.precio}} </p>
        <p>Tipo: {{producto.tipo}}</p>
        <p>Estrellas: {{producto.estrellas}}</p>
        <p>Descargas: {{producto.descargas}}</p>
        <p>Vendedor: {{producto.vendedor}}</p>
    </div>
    {% endfor %}
</div>