{% include 'layouts/navbar.html' %}


<div>
    {% include 'layouts/UserNavBar.html' %}
</div>

<div>
    <h2> {{ respuestasSoporte.0.mensajeSoporte }} </h2>
    <p> {{ respuestasSoporte.0.fechaSoporte }} </p>

</div>

<div>
    <h3>Respuestas</h3>
    {% for respuesta in respuestasSoporte %}
    <div>
        <h4>
            = {{ respuesta.tipo }}:
            {% if not respuesta.administrador %}
             {{ respuesta.usuario }}
            {% else %} 
             {{ respuesta.administrador }}
            {% endif %}
        </h4>
        <p>Mensaje: {{ respuesta.mensaje }} </p>
        <p>fecha: {{ respuesta.fecha }} </p>

    </div>
    {% endfor %}
</div>