<link rel="stylesheet" type="text/css" href="../../static/css/main.css">

{% include 'layouts/navbar.html' %}

<div class="main-content">
    {% include 'layouts/UserNavBar.html' %}

    <div class="user-info">
        <h2>{{ respuestasSoporte.0.mensajeSoporte }}</h2>
        <p>{{ respuestasSoporte.0.fechaSoporte }}</p>

        <h3>Respuestas</h3>
        {% for respuesta in respuestasSoporte %}
            <div class="user-details">
                <h4>
                    {% if not respuesta.administrador %}
                        {{ respuesta.usuario }}
                    {% else %} 
                        {{ respuesta.administrador }}
                    {% endif %}
                </h4>
                <p>Tipo: {{ respuesta.tipo }} </p>
                <p>Mensaje: {{ respuesta.mensaje }} </p>
                <p>Fecha: {{ respuesta.fecha }} </p>
            </div>
        {% endfor %}
    </div>
</div>
