{% include 'layouts/navbar.html' %}


<div>
    {% include 'layouts/UserNavBar.html' %}
</div>

<div>
    <h1>
        Recibos
    </h1>
</div>

<div>
    {% for recibo in recibos %}
    <div>
        <h3>Recibo ID: {{ recibo.recibo_id }}</h3>
        <p>Fecha: {{ recibo.fecha }}</p>
        <p>Total: {{ recibo.total }}</p>
        <p>Forma de Pago: {{ recibo.metodo_pago }}</p>
    </div>
    <div>
        {% for producto in recibo.productos %}
        <div>
            <h4>Nombre: {{ producto.nombre }}</h4>
            <p>Precio: {{ producto.precio }}</p>
            <p>Cantidad: {{ producto.cantidad }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>