<link rel="stylesheet" type="text/css" href="../static/css/main.css">

{% include 'layouts/navbar.html' %}

<!-- para el bloque que tiene base.html -->
{% block content %}

<div class="main-content">
    {% include 'layouts/UserNavBar.html' %}

    <div class="user-info">
        
        {% for recibo in recibos %}
        <div class="recibo-info product-card">
            <h3>Recibo ID: {{ recibo.recibo_id }}</h3>
            <p>Fecha: {{ recibo.fecha }}</p>
            <p>Total: {{ recibo.total }}</p>
            <p>Forma de Pago: {{ recibo.metodo_pago }}</p>
            
            <div class="productos-info">
                {% for producto in recibo.productos %}
                <li>
                    <div class="producto">
                        <h4>Nombre: {{ producto.nombre }}</h4>
                        <p>Precio: {{ producto.precio }}</p>
                        <p>Cantidad: {{ producto.cantidad }}</p>
                    </div>
                </li>
                {% endfor %}
            </div>
        </div>
        
        {% endfor %}
    </div>

    {% endblock %}
</div>