<link rel="stylesheet" type="text/css" href="../static/css/main.css">
{% include 'layouts/navbar.html' %}

<div class="main-content">

    {% include 'layouts/Usernavbar.html' %}

    <div class="user-info">
        {% for nombre in nombres %}
            <div class="user-details">
                <img src="{{nombre.foto}}" alt="Foto de perfil">
                <h2>{{nombre.nombre}} {{nombre.apellido}}</h2>
                <p>{{nombre.correo}}</p>
                <p>Fecha de Registro: {{nombre.fcha_rgstro}}</p>
                <p>Dirección: {{nombre.direccion}}</p>
                <p>Teléfono: {{nombre.telefono}}</p>
            </div>
        {% endfor %}
    </div>
</div>