{% include 'layouts/navbar.html' %}

<div>
    {% for producto in carrito %}
    {% if producto.producto_id %}
    <div>
        <a href="{% url 'producto' usuario_id producto.producto_id %}">
            <h2>{{producto.nombre}}</h2>
        </a>
        <p>Precio: {{producto.precio}} </p>
        <p>Tipo: {{producto.tipo}}</p>
        <p>Cantidad: {{producto.cantidad}}</p>
    </div>
    {% endif %}
    {% endfor %}
    <h3>Total: {{precioTotal}}</h3>
    
</div>

{% if precioTotal != 0 %}
<button>
    <a href="{% url 'pago' usuario_id carrito.0.carrito_id precioTotal %}">
        <h2>Pagar</h2>
    </a>
</button>
{% endif %}