<link rel="stylesheet" type="text/css" href="../../../static/css/main.css">

{% include 'layouts/navbar.html' %}

{% block content %}
  <div class="centered-content">
    <h1>{{producto.nombre}}</h1>

    <div class="product-details">
      {% for product in producto %}
        <div class="product-info-container">
          <div class="product-image">
            <img src="{{product.imagen_url}}" alt="Imagen del producto">
          </div>
          <div class="product-info">
            <h2>{{product.nombre}}</h2>
            <p>Descripcion: {{product.descripcion}} </p>
            <p>Precio: {{product.precio}} </p>
            <p>Fecha de registro: {{product.fecha}} </p>
            <p>Tipo: {{product.tipo}}</p>
            <p>Dimensiones: {{product.dimensiones}}</p>
            <p>Version: {{product.version}}</p>
            <p>Estrellas: {{product.estrellas}}</p>
            <p>Descargas: {{product.descargas}}</p>
            <p>Vendedor: {{product.vendedor}}</p>
          </div>

          <form method="POST" >
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}

            <button class="add-comment-button" type="submit">Añadir al carrito</button>
          </form>
          
        </div>
      {% endfor %}
    </div>

    <div class="comments-section">
      <h3>Comentarios</h3>
      {% for coment in comentarios %}
        <div class="comment">
          <h4>{{coment.comprador}} </h4>
          <p>Estrellas: {{coment.estrellas}} </p>
          <p>Comentario: {{coment.comentario}} </p>
        </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}